.header {
    display: flex;
    align-items: stretch;
    min-height: 110px;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}
.nav-div {
    display: flex;
    align-items: stretch;
    flex-grow: 2;
}
.nav-div-large {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}
.nav-div-small {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
}
.nav-div .spacer {
    flex-grow: 1;
}
.nav-div .nav-links {
    flex-grow: 2;
}


.logo {
    height: 80px;
    margin-right: 20px;
}

.business-name {
    font-size: 2rem;
    font-weight: bold;
}

.spacer {
    flex: 1;
}

.open {
    width: 50%;
}
.closed {
    width: 0;
    transform: translateX(0%);
}

.burger-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: large;
}

.nav-overlay {
    background-color: rgb(105, 161, 187);
    position: fixed;
    top: 8%;
    right: 0;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    transition: 0.3s;
    display: flex;
}